.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  background-color: var(--white);
  color: var(--text);
  font-size: 0.9rem;
  margin-top: auto;
}

.count {
  min-width: 100px;
}

.filters {
  display: flex;
  gap: var(--space-sm);
}

.filter {
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
  padding: var(--space-xs) var(--space-sm);
}

.filter:hover {
  color: var(--primary);
}

.filter.active {
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--gray);
  border-radius: var(--space-sm) ;
}

.clearButton {
  background: none;
  border: none;
  color: var(--danger);
  cursor: pointer;
  min-width: 100px;
  text-align: right;
}

.clearButton:hover {
  color: var(--danger-hover);
}