.app {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  height: 100dvh;
  .content {
    flex: 1;
    padding-bottom: var(--space-xl);
  }
}

.title {
  background: var(--primary);
  color: var(--text-light);
  padding: var(--space-lg);
  text-align: center;
  margin: 0;
}