@import './assets/styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--white);
  color: var(--text);
  line-height: 1.6;
  padding: var(--space-xl);
}

#root {
  max-width: 800px;
  margin: 0 auto;
}